@use '../../mixins/typography';
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

.home{
    &__container{
        margin: 0;
        padding: 0;
        padding-top: 15%;
        background-image: url('/public/Bitmap.png');
        background-size: cover; 
        background-repeat: no-repeat;
        background-attachment: fixed; 
        background-position: center; 
        color: white;
        display: flex;
        align-items: center;
        @media (min-width: 600px) and (max-width: 820px)  {
            flex-direction: column;
            height: 100%;
            background-image: url('/public/BitmapH.png');
        }
        @media screen and (max-width: 599px)  {
            padding-top: 30%;
            flex-direction: column;
            height: 100%;
            background-image: url('/public/BitmapH.png');
        }
    }
    &__article{
        width: 50%;
        padding: 5%;
        display: flex;
        flex-direction: column;
        @media (min-width: 600px) and (max-width: 820px)  {
            text-align: center;
            width: 70%;
        }
        @media screen and (max-width: 599px)  {
            text-align: center;
            width: 90%;
        }
        &--circle{
            color: black;
            border-radius: 50%;
            background-color: white;
            padding-top: 23%;
            padding-bottom: 23%;
            padding-right: 12%;
            padding-left: 12%;
            text-decoration: none;
            transition: border 0.2s, box-shadow 0.2s;
            @include typography.nameCircle;
            &:hover{
                cursor: pointer;
                border: 80px solid rgba(19, 15, 43, 0.904);
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
            }
        }
        &--top{
            margin: 0;
            padding-bottom: 2%;
            @include typography.titleTopHome;
        }
        &--principal{
            margin: 0;
            padding-bottom: 5%;
            @include typography.titlePrincipalHome;
        }
        &--bottom{
            margin: 0;
            padding-right: 10%;
            @media screen and (max-width: 820px)  {
                padding: 0;
            }
            @include typography.titleBottomHome;
        }
    }
}

.center {
    margin-top: 5%;
    align-items: center;
}