@use '../mixins/typography';
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

.NavBar{
    &__container{
        top: 5%;
        width: 100%;
        position: absolute;
        display: flex;
        
        align-items: center;
        @media (min-width: 600px) and (max-width: 884px)  {
            top: 0;
            justify-content: space-between;
        }
        @media screen and (max-width: 599px)  {
            justify-content: space-between;
        }
        div{
            width: 33%;
            height: 1px;
            flex-shrink: 0;
            opacity: 0.2515;
            background: #FFF;
            
            @media (min-width: 600px) and (max-width: 884px)  {
                display: none;
            }
            @media screen and (max-width: 599px)  {
                display: none;
            }
        }
        img{
            margin-left: 5%;
            margin-right: 5%;
        }
    }
    &__img{
        display: none;
        @media screen and (max-width: 599px)  {
            display: block;
            margin-left: 5%;
            margin-right: 5%;
            &:hover{
                cursor: pointer;
            }
        }
    }
    &__ul{
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(40.774227142333984px);
        width: 50%;
        height: 96px;
        flex-shrink: 0;
        
        @media (min-width: 600px) and (max-width: 884px)  {
            margin: 0;
        }
        @media screen and (max-width: 599px)  {
            display: none;
        }
    }
    &__li{
        list-style: none;
    }
    &__link{
        text-decoration: none;
        @include typography.nameNavBar;
        display: flex;
        align-items: center;
        z-index:6;
        p {
            padding-right: 10%;
            @include typography.numberNavBar;
            @media (min-width: 600px) and (max-width: 884px)  {
                display: none;
                
            }
        }
        &:hover{
            padding-bottom: 5%;
            border-bottom: 2px solid rgba(255, 255, 255, 0.5021);
            
        }
    }
    &__mobile{
        top: 0;
        left: 30%;
        width: 70%;
        height: 100%;
        position: absolute;
        backdrop-filter: blur(50px);
        display: flex;
        align-items:end;
        flex-direction: column;
        z-index:1;
        img{
            margin-top: 10%;
            margin-right: 10%;
        }
        &--ul {
            width: 80%;
            margin-top: 20%;
        }
    }
}

.active{
    border-bottom: 2px solid #FFFFFF;
    @media screen and (max-width: 599px)  {
        border-bottom: none;
    }
}