@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@100;200;300;400;500&family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');
.crewBG{
    margin: 0;
    width: 120vw;
    height: 190vw;
    background: url("../../../public/background-crew-desktop.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center; 
}
.crew-carousel {
    margin: 0 10vw;
    padding: 0;
    padding-top: 15%;
    color: white;
    height: 100vh;
   
  }

  

  .slide-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

  }
  .text-container{
    width: 50%;
    font-size: 15px;
    line-break: auto;
    width: 50%;
    max-width: 600px; 

    & h2{
    font-family: Bellefair;
    font-style: normal;
    font-weight: normal;
    font-size: 2vw;
    line-height: 2vw;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    }

    & h1{
        font-family: Bellefair;
        font-style: normal;
        font-weight: normal;
        font-size: 3.2vw;
        line-height: 64px;
        text-transform: uppercase;
        margin-top: 15px;
        color: #FFFFFF;
    }

    & p{
        margin-top: 27px;
        font-family: Barlow;    
        font-size:  1.5vw;
        line-height: 32px;
        color: #D0D6F9;
        height: 150px;
    }
  }
  .image-container{
    width: 50%;
  }
  
 #imgAjuste1{
    width: 39%;
    margin-left: 5vw; 

 }
 #imgAjuste2{
    width: 36%;
    margin-left: 5vw; 
 }
 #imgAjuste3{
    width: 45%;
    margin-left: 2.5vw; 
 }
 #imgAjuste4{
   
    margin-left: 10vw; 
    
 }
 


 .slick-dots-custom {
    list-style: none;
    padding: 0;
    text-align: start;
    position: absolute;
    top: 90%;  
    width: 100%;
    display: flex !important;
    flex-direction: row ;
   
    
    li {
        font-size: 0;
        margin-right: 2vw;
      button {
        width: 10px;
        height: 12px;
        border-radius: 50px;
        background-color: gray; 
        border: none;
        color: transparent;
        cursor: pointer;
      }

      &.slick-active button {
        background-color: white; 
      }
  
      &:hover button {
        background-color: lightgrey; 
      }
    }
  }
  
  .crew-title{
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 4.725px;
    font-family: 'Barlow Condensed', sans-serif;
    & span {
        font-weight: 700;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.25;
    }
  }
  @media screen and (max-width: 800px) {

    .crewBG{
        margin: 0;
        width: 120vw;
        height: 190vw;
        background: url("../../../public/background-crew-tablet.jpg");
        background-size: cover; 
        background-repeat: repeat;
        background-attachment: fixed; 
        background-position: center; 
    }

    .crew-carousel {
        padding-top: 25%;   
      }
    
      .text-container{
        width: 100%;
        line-break: auto;
        width: 100%;
        max-width: 70%; 
    
        & h2{
        text-align: center;
        font-size: 2.8vw;
        line-height: 0.5vw;
        }
    
        & h1{
            text-align: center;
            font-size: 3.5vw;
            line-height: 5vw;
        }
    
        & p{
            text-align: center;
            margin-top: 0;   
            font-size:  2vw;
            line-height: 3vw;
            
        }
      }

    .slide-container{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-content: center;
       
    
      }

      .slick-dots-custom {
        list-style: none;
        padding: 0;
        text-align: center;
        justify-content: center;
        position: absolute;
        top: 33%;  
        width: 80%;
        display: flex !important;
        flex-direction: row ;
      }
  }
  
  @media screen and (max-width: 500px) {

    .crewBG{
        margin: 0;
        width: 150vw;
        height: 200vw;
        background: url("../../../public/background-crew-mobile.jpg");
        background-size: cover; 
        background-repeat: repeat;
        background-attachment: fixed; 
        background-position: center;
    }
    .crew-carousel {
        margin: 0 20vw;
    }
    .text-container {
        order: 2; 
      }
    
      .image-container {
        order: 1; 
        padding-bottom: 15vw;
      }

      .text-container{
        width: 100%;
        line-break: auto;
        width: 100%;
        max-width: 70%; 
    
        & h2{
        text-align: center;
        font-size: 2.8vw;
        line-height: 0.5vw;
        }
    
        & h1{
            text-align: center;
            font-size: 3.5vw;
            line-height: 5vw;
        }
    
        & p{
            text-align: center;
            margin-top: 0;   
            font-size:  2vw;
            line-height: 3vw;
            
        }
      }
      .slide-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
       
    
      }

      .slick-dots-custom {
        
        top: 63vw;  
        width: 100%;
        
      }
  }


  